<!doctype html>
<html lang="en">
    <head>    

        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <meta name="description" content="{{ page.excerpt | default: site.description }}"/>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicons/apple-touch-icon.png' | relative_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicons/favicon-32x32.png' | relative_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicons/favicon-16x16.png' | relative_url }}">
        <link rel="shortcut icon" href="{{ 'assets/favicons/favicon.ico' | relative_url }}">
        
    </head>
    <body>
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
        <script src="https://unpkg.com/mermaid@8.6.4/dist/mermaid.min.js"></script>

    </body> 
</html>
